
<body>
    <nav class="purple lighten lighten-1" role="navigation" style="height: 95px; position:fixed;top:0;left:0;width:100%;">
    <div class="nav-wrapper">
      <a href="/welcome/index" class="brand-logo"a>
          <img src="https://i.imgur.com/1oAIFYE.png" alt="log"
          title="splatlog"
          style="width: 178px; height: 158px;">
         
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/walls/new">Create New Wall</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/edit">Profile</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/sign_in">Log In</a></li>
      </ul>
    </div>
  </nav>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    
    <div class="container" style="text-align: center; margin-top: -21px; height: 59px;"><br>
    </div>
    
    <div class="container"><br>
     <div class="row">
  
    <div class="col s6 offset-s0">
      <div class="card purple lighten lighten-1">
        <div class="card-content white-text">
          <span class="card-title">User Activity</span>
        <br><br>
   <%= link_to '<button type="button" class="waves-effect waves amber darken-3 btn" style="color: white !important;">Your Walls</button>'.html_safe, :walls %>
  
        </div>
        <div class="card-action">
         
        </div>
      </div>
    </div>
  </div>
    </div>
    <div class="container"><br>
     <div class="row">
    <div class="col s6 offset">
      <div class="card purple lighten lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Account Settings</span>
         <h6>Edit <%= resource_name.to_s.humanize %></h6>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  
  <div class="field">
    <%= f.label :username%><br />
    <%= f.text_field :username, autofocus: true, autocomplete: "username" %>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

  <div class="field">
    <%= f.label :password %> <i>(leave blank if you don't want to change it)</i><br />
    <%= f.password_field :password, autocomplete: "off" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> characters minimum</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :current_password %> <i>(we need your current password to confirm your changes)</i><br />
    <%= f.password_field :current_password, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Update" %>
  </div>
<% end %>

<h6>Cancel my account</h6>

<p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>


<%= link_to '<button type="button" class="waves-effect waves amber darken-3 btn" style="color: white !important;">Logout</button>'.html_safe, destroy_user_session_path, method: :delete %>
<%= link_to '<button type="button" class="waves-effect waves amber darken-3 btn" style="color: white !important;">Back</button>'.html_safe, :back %>
        </div>
        <div class="card-action">
          
        </div>
      </div>
    </div>
  </div>
    </div>
    


    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    </div>
   </li>
  </ul>

   
  </body>
 <footer class="purple lighten-2" style="position:fixed;bottom:0;left:0;width:100%;"> <br>
      <div class="footer-copyright">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
    </footer>