<%= form_with(model: wall, local: true) do |form| %>
  <% if wall.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(wall.errors.count, "error") %> prohibited this wall from being saved:</h2>

      <ul>
      <% wall.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :wall_title %>
  </div>


  <div class="field">
    <%= form.label :access_id %>
    <%= form.text_field :access_id, id: :wall_access_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
