<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @wall.title %>
</p>

<p>
  <strong>User:</strong>
  <%= @wall.user_id %>
</p>

<p>
  <strong>Access:</strong>
  <%= @wall.access_id %>
</p>

<h2>Posts</h2>
<% @wall.posts.each do |post| %>
  <p>
    <strong>Body:</strong>
    <%= post.body %>
  </p>

<% end %>
<h2>Add a post:</h2>
<%= form_for([@wall, @wall.posts.build]) do |f| %>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_wall_path(@wall) %> |
<%= link_to 'Back', walls_path %>
