<nav class="purple lighten lighten-1" role="navigation" style="height: 95px; position:fixed;top:0;left:0;width:100%;">
    <div class="nav-wrapper">
      <a href="/welcome/index" class="brand-logo"a>
          <img src="https://i.imgur.com/1oAIFYE.png" alt="log"
          title="splatlog"
          style="width: 178px; height: 158px;">
         
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves-orange darken-3 btn-large" href="/walls/new">Create New Wall</a></li>
        <li><a class="waves-effect waves-orange darken-3 btn-large" href="/users/edit">Profile</a></li>
        <li><a class="waves-effect waves-orange darken-3 btn-large" href="/users/sign_in">Log In</a></li>
      </ul>
    </div>
</nav>
<br><br><br><br><br><br><br><br><br>
<p id="notice"><%= notice %></p>

<h3>
  <%= @wall.title %>
</h3>

<p>
  <strong>Wall Owner:</strong>
  <%= User.find(@wall.user_id).username %>
</p>

<p>
  <strong>Access:</strong>
  <%= @wall.access_id %>
</p>

<% @wall.posts.each do |post| %>

  <div class="row">
    <div class="col s12 m6">
      <div class="card purple lighten lighten-1">
        <div class="card-content white-text">
          <span class="card-title"></span>
         <%= post.body %>
        </div>
        <div class="card-action">
          <span class="amber-text"><%= User.find(post.user_id).username%></span>
         
        </div>
      </div>
    </div>
  </div>
            

  
<% end %>
<h3>Add a post:</h3>
<%= form_for([@wall, @wall.posts.build]) do |f| %>
 
  <p>
    <%= f.label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>

<%= link_to 'Edit', edit_wall_path(@wall) %> |
<%= link_to 'Back', walls_path %>
<footer class="purple lighten-2" style="position:fixed;bottom:0;left:0;width:100%;"> <br>
      <div class="footer-copyright" style="position:fixed;bottom:0;left:0;width:100%;">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
</footer>
