

<body>
    <nav class="purple lighten lighten-1" role="navigation" style="height: 95px; position:fixed;top:0;left:0;width:100%;">
    <div class="nav-wrapper">
      <a href="/welcome/index" class="brand-logo"a>
          <img src="https://i.imgur.com/1oAIFYE.png" alt="log"
          title="splatlog"
          style="width: 178px; height: 158px;">
         
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/walls/new">Create New Wall</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/edit">Profile</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/sign_in">Log In</a></li>
      </ul>
    </div>
  </nav>
        
    
    <div class="container" style="text-align: center; margin-top: -21px; height: 59px;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    <div><br><br><br><br>
<p id="notice"><%= notice %></p>

<p>
  <strong>Body:</strong>
  <%= @post.body %>
  <%= link_to like_post_path(post), method: :put do %>
    Like
    <%= post.get_upvotes.size %>
    format.js {render inline: "location.reload();" }
  <% end %>
  
  <%= link_to unlike_post_path(post), method: :put do %>
    Unlike
    <%= post.get_downvotes.size %>
    format.js {render inline: "location.reload();" }
  <% end %>
</p>

<%= link_to '<button type="button" class="waves-effect waves amber darken-3 btn" style="color: white !important;">Edit</button>'.html_safe, edit_post_path(@post) %>
<%= link_to '<button type="button" class="waves-effect waves amber darken-3 btn" style="color: white !important;">Back</button>'.html_safe, posts_path %>

</div>

    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
    <div class="container"><br>
    </div>
  </body>
 <footer class="purple lighten-2" style="position:fixed;bottom:0;left:0;width:100%;"> <br>
      <div class="footer-copyright">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
    </footer>