



<body>
    <nav class="purple lighten lighten-1" role="navigation" style="height: 95px; position:fixed;top:0;left:0;width:100%;">
    <div class="nav-wrapper">
      <a href="/welcome/index" class="brand-logo"a>
          <img src="https://i.imgur.com/1oAIFYE.png" alt="log"
          title="splatlog"
          style="width: 178px; height: 158px;">
         
      <ul class="right hide-on-med-and-down">
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/walls/new">Create New Wall</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/edit">Profile</a></li>
        <li><a class="waves-effect waves amber darken-3 btn-large" style="color: white !important;" href="/users/sign_in">Log In</a></li>
      </ul>
    </div>
  </nav>
        
    
    <div class="container" style="text-align: center; margin-top: -21px; height: 59px;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    <div class="container" style="text-align: center;"><br>
    </div>
    
    <br><br><br><br>
    
     <div class="row">
    <div class="col s6 offset-s3">
      <div class="card purple lighten lighten-1">
        <div class="card-content white-text">
          <span class="card-title">Change your password</span>
         <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
  <%= devise_error_messages! %>
  <%= f.hidden_field :reset_password_token %>

  <div class="field">
    <%= f.label :password, "New password" %><br />
    <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em><br />
    <% end %>
    <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirm new password" %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Change my password" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
        </div>
        <div class="card-action">
         
        </div>
      </div>
    </div>
  </div>
    
    <div>

  </body>
 <footer class="purple lighten-2" style="position:fixed;bottom:0;left:0;width:100%;"> <br>
      <div class="footer-copyright">
        <div class="container"> Made by <span style="color: #fef5fd;">Splat</span>
        </div>
      </div>
    </footer>